MYTPEN_AUTH_SECRET="secret-value"
MYTPEN_AUTH_CLIENT=https://oidc-client-demo.vercel.app  #http://localhost:3001
MYTPEN_AUTH_SERVER=https://oidc-server-demo.vercel.app      #http://localhost:3000 

MYTPEN_AUTH_PROVIDERID=
MYTPEN_AUTH_CLIENTID=
MYTPEN_AUTH_CLIENTSECRET=
